.landing-page-navbar2 {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  width: 98%;
  height: 7%;
  top: 0px;
}

.landing-page-navbar__header {
  margin: 0px;
  align-self: center;
  border-radius: 15%;
}
.logout-button {
  background-color: white;
  color: black;
  width: 80px;
  height: 40px;
  border-radius: 5%;
  border: none;
}
.landing-page-navbar__header-logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-page-navbar__header-logo > h1 {
  margin: 0px;
}

.landing-page-navbar__search {
  align-self: center;
}

.landing-page-navbar__login {
  align-self: center;
}
.woofr {
  font-size: 35px;
  color: lightsalmon;
  font-family: "Modak", cursive;
}
.profile {
  width: 40px;
  align-self: end;
  border-radius: 30px;
}
