.nav-bar {
  margin-top: -70px;
}
.login-button {
  background-color: rgb(220, 120, 109);
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 5%;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  color: black;
  cursor: pointer;
}

.signup-button {
  background-color: rgb(225, 196, 193);
  color: rgb(210, 25, 25);
  width: 80px;
  height: 40px;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  margin-right: 1em;
}

.signup-button:hover {
  color: black;
  cursor: pointer;
}
