.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 4rem;
  /* width: 100%; */
  height: 100%;
  background-color: rgb(222, 222, 222);
}

.content {
  display: grid;
  grid-template-areas: "photo-main" "about-main" "comments-main" "contact-info";
  grid-template-columns: 1fr;
  grid-template-rows: 35rem 10rem auto auto;
  background-color: rgb(222, 222, 222);
}
.photo {
  background-color: rgb(222, 222, 222);
  width: auto;
  width: 100%;
  height: 100%;
}
/* .main {
  width: 100%;
} */
.photo-main {
  grid-area: photo-main;
  width: 100%;
  justify-content: center;
  height: 100%;

  /* padding: 1rem; */
}

.link-return {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.link-return a {
  text-decoration: none;
}

.link-return a:hover {
  font-size: 1.8rem;
  text-shadow: black 0.1rem 0.1rem;
}

.about-main {
  box-sizing: border-box;
  grid-area: about-main;
  display: flex;
  padding: 0px 35px;
  /* background-color: brown; */
}
.about-title h2 {
  /* padding: 0.5rem; */
  /* border-right: 0.1rem solid lightgray; */
  font-size: 2rem;
  text-align: left;
}
.about-title h3 {
  /* padding: 0.5rem; */
  /* border-right: 0.1rem solid lightgray; */
  font-size: 2rem;
  text-align: left;
}

.about-title h3 {
  flex-wrap: wrap;
  font-weight: lighter;
  font-size: 1.8rem;
}

/*Creating photos section(profile-page)*/
.comments-main {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  /* padding: 1rem; */
  flex-wrap: wrap;
  margin-top: 7rem;
  padding: 0px 35px;
  background-color: rgb(222, 222, 222);
}

.comments-main h3 {
  display: flex;
  padding-top: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  border-top: 0.1rem solid grey;
  border-bottom: 0.1rem solid grey;
}

.contact-info div {
  display: flex;
  padding: 0.5rem;
}

.content-photo {
  background-color: rgb(222, 222, 222);
}
