html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  height: 100vh;
}

#root{
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}



.header{

  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: black;
  font-size: 0.5rem;
}

.woofr-logo a{
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.woofr-logo a:hover{
  color: orangered;
  font-weight: bold;
}

.header-links a{
  text-decoration: none;
  color:white;
  font-size: 1.3rem;
}

.header-links a:hover{
  text-decoration: none;
  color: orangered;
  font-weight: bold;
}

.search-bar a{
  padding: 1rem;
  text-decoration: none;
  color:white;
  font-size: 1.3rem;
}

.search-bar a:hover{
  text-decoration: none;
  color: orangered;
  font-weight: bold;
}

.main{
  grid-area: main;
  padding: 1rem;
}

.footer{
  grid-area: footer;
  background-color: white;
  color: black
}

/* Creating the containers*/


.photos{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  flex-wrap: wrap;
}


.photos li{
  flex: 0 1 30rem;
  margin: 1rem;
  height: 40rem;
  border: 0.1rem gray solid;
  border-radius: 1.5rem;
}

.photo{
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

.photo-header{
  display: flex;
  justify-content: space-between;
}

.photo-owner{
  padding: 0.5rem;
  font-size: 1rem;
}

.photo-title{
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.photo-description{
  padding: 0.3rem;
  font-size: 1rem;
}

.photo-img{
  max-width: 30rem;
  max-height: 40rem;
}
